<li id="js-task" class="task">
  <h4 class="date">{{formattedDate}}</h4>
  <p>{{content}}</p>
  <button class="delete" name="remove">Remove</button>
  <button class="edit" name="edit">Edit</button>
</li>
