<nav class="navigation">
  <div class="logo"><a class="logo__image-text" href=""></a></div>

  <ul class="navigation__links">
    <a href="#js-sign-up-form"><li class='button__cta'>Sign Up</li></a>
    <a href="#"><li>Login</li></a>
  </ul>
</nav>

<section class="tile tile__light">
  <div id="js-tasks" class="tasks">
    <ul id="task-list"></ul>

    <p class="task-count"></p>

    <div class="task-manager">
      <div class="task-manager__add">
        <input type="text" name="title" placeholder="TODO TITLE"></input>
        <textarea type="text" name="input" placeholder="TODO MESSAGE"></textarea>
        <button type="submit">Add new TODO</button>
      </div>
    </div>
  </div>
</section>

<section class="tile tile__dark tile-footer">
  <footer>
    <p>A project by <a href="http://www.mbodmer.com">Marc Bodmer</a></p>
  </footer>
</section>
